/* GLOBAL STYLES
-------------------------------------------------- */
/* Padding below the footer and lighter body text */
html {
  height: 100%;
  margin: 0;
}
body {
	box-sizing:border-box;
    color: #5a5a5a;
    margin: 0;
}
p{
	font-size: 20px;
}
.main-wrapper{
	 width: 100%;
	 display:grid;
	 grid-template-columns: repeat(1,12fr);
	 position: relative;
	 top: 0;
	 left: 0;
	 bottom: 0;
	 right: 0;
}
/* NAVBAR
-------------------------------------------------- */
.navbar .container-fluid .collapse .navbar-nav{
  display:flex;
  flex-direction: row;
  align-content: center;
  justify-content: center;
}



/* CUSTOMIZE THE HOME PAGE
-------------------------------------------------- */
.aboutPage-image{
	display: grid;
	align-items: center;
	justify-items:center;
}
.aboutCover-heading{
	position: absolute;
	color: white;
	text-align: center;
}
.aboutPage-image .aboutCover{
	width: 100%;
}
.about-background{
	display:grid;
	grid-template-columns: repeat(1,12fr);
	align-items: center;
	justify-items:center;
}
.aboutPage-company{
	background: #ffffff;
background: radial-gradient(circle, rgba(255, 255, 255, 1) 0%, rgba(233, 239, 247, 1) 100%);
}
.aboutPage-company .about-company-info{
	display:grid;
	grid-template-columns:repeat(2,6fr);
	justify-items:center;
	padding:50px;
	grid-gap:20px;
} 
.aboutPage-company .about-company-info  .icon-about{
	width: 7%;
}
.about-projects{
	display:flex;
	flex-direction: row;
	justify-content: space-around;
}
.about-projects{
background: #39addb;
background: radial-gradient(circle, rgba(57, 173, 219, 1) 0%, rgba(0, 93, 199, 1) 100%);
	
}


.objectives{
	display:grid;
	grid-template-columns:repeat(2,6fr);
	grid-gap:1%;
	padding: 25px;
}

.objectives .objectives{
	display: grid;
	width: 100%;
	
}
.objectives .objective-info{
	display:flex;
	flex-direction: column;
	justify-content: center;
}









/* SINGLE PAGE MULTI
-------------------------------------------------- */

.wrapper-multiPage{
	display:grid;
	grid-template-columns: 4fr 8fr;
	padding: 40px;
	grid-gap:20px;
	position: relative;
	top:0;
	left:0;
	right: 0;
	bottom: 0;
}








/* CUSTOMIZE THE CAROUSEL
-------------------------------------------------- */

/* Carousel base class */
/* Since positioning the image, we need to help out the caption */
.carousel-caption {
  z-index: 10;
}

/* Declare heights because of positioning of img element */
.carousel .item {
  height: 600px;
  background-color: #777;
}
.carousel-inner > .item > img {
  position: absolute;
  top: 0;
  left: 0;
  min-width: 100%;
  height: 700px;
}
.carousel-inner .item .container .carousel-caption{
	display: grid;
	justify-content: center;
}


/* OUR SERVICES PAGE
-------------------------------------------------- */
.wrapper-services{
	display:grid;
	grid-template-columns: repeat(3, 4fr);
	grid-gap:20px;
	justify-content: space-around;
	padding: 80px;
}
.wrapper-services .card .card-footer a{
	text-decoration: none;
}
.wrapper-services .card .card-header .servicesImages{
	width: 100%;
}

.services-header .headerServicesImg .coverServicesHeader{
	width: 100%;
}
.services-header{
	display: grid;
	grid-template-columns:repeat(1,12fr);
	position: relative;
}
.services-header .servicesHeading{ 
	position:absolute;
	top:0;
	left:0;
	right:0;
	bottom:0;
	display: grid;
	align-items: center;
	justify-items:center;
	
}
.services-header .servicesHeading .servicesMidDiv p a{
	text-decoration: none;
}

/* CUSTOMIZE THE ABOUT US PAGE
-------------------------------------------------- */
.home-about{
	display:grid;
	grid-template-columns: 6fr 6fr;
	padding-top:10px;

	grid-gap:3%;
}
.home-about .home-about-image{
	width: 100%;
}


/* CONTACT US PAGE
-------------------------------------------------- */
.contact-background .contactCover{
	width: 100%
}
.contact-form-wrapper{
	display:grid;
	position: absolute;
	align-items:center;
	justify-items:center;
	top:0;
	left: 0;
	right: 0;
	bottom: 0;
	width: 100%;
}
.contact-form-wrapper .flex-contact{
	background-color: rgba(247,248,250);
	width: 50%;
	padding: 40px;
}
 .contact-form-wrapper .flex-contact .contact-form .main-form { 
	display:grid;
	grid-template-columns: repeat(1,12fr);
	grid-gap:20px;
	
}
.contact-form-wrapper .flex-contact .contact-form .main-form .form-top{
	 display:grid;
	 grid-template-columns:repeat(2,6fr);
	 grid-gap:20px;
}


/* MY FOOTER
-------------------------------------------------- */

.myFooter{
	display:grid;
	grid-template-columns: repeat(4,4fr);
	padding-top: 40px;
	padding-bottom: 40px;
	grid-gap:1%;
    background:  rgba(205, 205, 206, 0.08);
}
.footerMyLogo .footerLogo{
	width: 100%;
	padding:20px;
}
.copyRight{
	background-color: black;
	padding: 10px;
}
.copyRight a{
	color: white;
}















/* RESPONSIVE CSS
-------------------------------------------------- */

@media (min-width: 768px) {
  /* Navbar positioning foo */
  .navbar-wrapper {
    margin-top: 20px;
  }
  .navbar-wrapper .container {
    padding-right: 15px;
    padding-left: 15px;
  }
  .navbar-wrapper .navbar {
    padding-right: 0;
    padding-left: 0;
  }

  /* The navbar becomes detached from the top, so we round the corners */
  .navbar-wrapper .navbar {
    border-radius: 4px;
  }

  /* Bump up size of carousel content */
  .carousel-caption p {
    margin-bottom: 20px;
    font-size: 21px;
    line-height: 1.4;
  }

  .featurette-heading {
    font-size: 50px;
  }
}

@media (min-width: 992px) {
  .featurette-heading {
    margin-top: 120px;
  }
}